@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;* #5D4975, #433C4B*/
}

body{
background-image: linear-gradient(to right, #7A12F5, #7935CC, #724AA3);

}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #433C4B;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
 color: #5d4975;
 text-align: center;
 text-shadow: 1px 1px 0px black ; 
}
h2{
color: #433C4B;
}
p{
    text-align: justify;
}